.treeAnalyse {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	overflow: hidden;
    background: url("/assets/images/MIL_Background2D.webp") no-repeat center center;
    background-size: cover;
	cursor: none;
	--margin: 48px;

	&__closeBtn {
		position: absolute !important;
		top: var(--margin);
		right: var(--margin);
	}

	&__topWrapper {
		position: absolute;
		top: var(--margin);
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		color: var(--color--white);
		gap: 32px;
	}

	&__title {
		font-family: "VCR OSD Mono";
		font-size: 3rem;
		text-transform: uppercase;
		margin: 0 32px;
	}

	&__divider {
		width: 100%;
		height: 2px;
		background-color: var(--color--white);
		box-shadow: 0 4px 20.9px rgba(255, 255, 255, 0.60);
	}
	&__infoBtn {
		color: white;
		font-family: var(--font--secondary);
		font-size: 1.125rem;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--color--gray-low);
		gap: 8px;
		margin-left: var(--margin);

		&Icon {
			display: inline-block;
			width: 1em;
			height: 1em;
			background: currentColor;
			mask: url("/assets/icons/MIL_info.svg") no-repeat center center;
			--webkit-mask: url("/assets/icons/MIL_info.svg") no-repeat center center;
			mask-size: cover;
			-webkit-mask-size: cover;
		}

		&::before {
			content: "[";
		}

		&::after {
			content: "]";
		}

		&:hover {
			color: var(--color--white);
		}
	}
}

.popUpBg {
	z-index: 20 !important;
}

.popUp {
	z-index: 20 !important;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 16px;
	}

	&__divider {
		width: 10px;
		height: 10px;
		background-color: var(--color--white);
		transform: rotate(45deg);
	}
}

.pointer {
	position: fixed;
	width: 42px;
	height: 42px;
	background: url("/assets/icons/tools/MIL_Loupe.svg") no-repeat center center;
	background-size: contain;
	transform: translate(-50%, -50%);
	pointer-events: none;
	z-index: 30;
}