.hud {

    --zI--ToolWheel: 2;
    --zI--Pointer: 3;
    --zI--Popup: 4;
    --zI--Objects: 4;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    // background-color: rgba(0, 0, 0, 0.20);
    pointer-events: none;
    overflow: hidden;
}