.cancelInteractionContainer {
  position: fixed;
  bottom: 32px;
  left: 32px;
  z-index: 1000;
  pointer-events: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  
  span {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    height: 38px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1rem;
    pointer-events: none;   
  }
}