.hotSpot {
	position: absolute;
	width: 200px;
	height: 200px;
	border: 1px solid rgba(123, 92, 255, 0.3);
	border-radius: 50%;
	transform: translate(-50%, -50%);

	.point {
		position: absolute;
		width: 32px;
		height: 32px;
		background-color: var(--color--white);
		border-radius: 50%;
		transform: translate(-50%, -50%) scale(0.8);
		top: 50%;
		left: 50%;
		opacity: 0;
		cursor: pointer;
		transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.3s ease;
		box-shadow: 0 0 84.435px 0 var(--color--white);

		&.active {
			opacity: 1;
			background-color: var(--color--violet);
			box-shadow: 0 0 84.435px 0 var(--color--violet);
			transform: translate(-50%, -50%) scale(1);
		}
	}

	&:hover .point {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}

.overlay {
	position: absolute;
	width: 100vw;
	height: 100vh;
	inset: 0;
	z-index: 1;
}

.pointMove {
	position: absolute;
	width: 32px;
	height: 32px;
	background-color: var(--color--violet);
	border-radius: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
	z-index: 2;
}

.popUp {
	position: absolute;
	background-color: var(--color--bg-transparent-light);
	color: var(--color--white);
	width: 676px;
	height: 295px;
	padding: 24px;
	border-radius: var(--radius--xxs);
	border: 1px solid var(--color--white);
	backdrop-filter: blur(32px);
	box-shadow: 0 0 84px 0 rgba(139, 139, 139, 0.6);

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 32px;

	transition: opacity 0.3s ease;
	z-index: 2;

	&::before {
		content: "";
		position: absolute;
		top: -1px;
		left: -1px;
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		pointer-events: none;
		border-radius: var(--radius--xxs);

		--tri-color: var(--color--white);
		--size: 14px;

		background: linear-gradient(
					135deg,
					var(--tri-color) 0%,
					var(--tri-color) 50%,
					transparent 50%,
					transparent 100%
				)
				top left,
			linear-gradient(
					225deg,
					var(--tri-color) 0%,
					var(--tri-color) 50%,
					transparent 50%,
					transparent 100%
				)
				top right,
			linear-gradient(
					315deg,
					var(--tri-color) 0%,
					var(--tri-color) 50%,
					transparent 50%,
					transparent 100%
				)
				bottom right,
			linear-gradient(
					45deg,
					var(--tri-color) 0%,
					var(--tri-color) 50%,
					transparent 50%,
					transparent 100%
				)
				bottom left;
		background-size: var(--size) var(--size);
		background-repeat: no-repeat;
	}

	&__closeBtn {
		position: fixed;
		top: 14px;
		right: 14px;
		z-index: 3;
	}

	&__img {
		height: 100%;
		width: 172px;
		background: red;
		background-size: cover;
		background-position: center;

		border-radius: var(--radius--xxs);
		border: 1px solid var(--color--gray-mid);

		flex-shrink: 0;
	}

	&__content {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 12px;
	}

	&__title {
		line-height: 1rem;
	}

	&__text {
		color: var(--color--gray-low);
	}
}
