@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&display=swap');

:root {
	--color--black: #0B1C26;
	--color--night-blue: #1A2F2A;
	--color--blue: #4FD1C5;
	--color--violet: #7B5CFF;
	--color--yellow: #FFD166;
	--color--white: #F4F4F4;
	// --color--gray-white: #878787;
	--color--gray-low: #9C9C9C;
	--color--gray-mid: #5E5E5E;
	--color--gray-high: #202020;

	--radius--xxs: 2px;
	--radius--xs: 8px;
	--radius--sm: 12px;
	--radius--md: 18px;
	--radius--lg: 24px;

	--easing : ease;

	font-family: 'Poppins', sans-serif;
}

::selection {
    background-color: var(--color--violet);
    color: var(--color--white);
}

::-webkit-selection {
	background-color: var(--color--violet);
	color: var(--color--white);
}


*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
#root {
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: var(--color--black);
}

.sr-only {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	opacity: 0;
	pointer-events: none;
	overflow: hidden;
	border: 0;
}

button {
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
}

.txt-italic {
	font-style: italic;
}

.txt-light {
	font-weight: 300;
}

.txt-medium {
	font-weight: 500;
}

.txt-semi-bold {
	font-weight: 600;
}

.txt-bold {
	font-weight: 700;
}